<div class="dapp-home__container">
  <span class="dapp-home__intro">Enter Public Key or Transaction Hash</span>
  <span class="dapp-home__powered-container">
    <span class="dapp-home__powered">powered by </span>
    <a class="dapp-home__ethplorer" href="https://ethplorer.io/"><img src="/assets/ethplorer.png" alt="Ethplorer.io"/></a> 
    <a class="dapp-home__web3" href="https://github.com/ethereum/web3.js">Web3.js</a></span>
  <div class="dapp-home__warning">Never disclose your Private Key on this or any website.</div>
</div>
